@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

:root {
  --bg-color: hsl(185, 41%, 84%);
  --tip-select-fz: clamp(18px, 2vw, 24px);

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-main: "Space Mono", sans-serif;
  --color-primary: hsl(172, 67%, 45%);
  --color-primary-100: hsl(172 61% 77%);
  --color-neutral-900: hsl(183, 100%, 15%);
  --color-neutral-500: hsl(186, 14%, 43%);
  --color-neutral-400: hsl(184, 14%, 56%);
  --color-neutral-200: hsl(185, 41%, 84%);
  --color-neutral-50: hsl(189, 47%, 97%);
  --color-attention: hsl(14, 59%, 55%);
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;
  max-width: 57.5rem;

  @variant md {
    padding-inline: 2rem;
  }
}

@layer utilities {
  .no-number-bar::-webkit-inner-spin-button,
  .no-number-bar::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-number-bar {
    -moz-appearance: textfield;
  }
}

@variant hocus (&:hover, &:focus);